Source: scap-security-guide
Section: admin
Priority: optional
Maintainer: Philippe Thierry <phil@reseau-libre.net>
Build-Depends: debhelper (>=9), quilt, xsltproc, expat, python-lxml, libxml2-utils, coreutils (>=8.5), bash (>=4.3), sed (>=4.2), libopenscap8
Standards-Version: 3.9.8
Homepage: https://www.open-scap.org/security-policies/scap-security-guide
Vcs-Git: https://github.com/OpenSCAP/scap-security-guide.git
Vcs-Browser: https://github.com/OpenSCAP/scap-security-guide

Package: ssg-base
Architecture: all
Depends: ${misc:Depends}, libopenscap8
Suggests: ansible (>= 2), puppet (>= 4.8), bash (>= 4.4)
Description: SCAP Security guide base content and documentation
 This package contains the basic content and manual pages explaining how
 the SCAP-security-guide works. It deploys man page and all various
 information about current SSG release

Package: ssg-debian8
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Debian 8
 This package contains all the SCAP guides, benchmarks and remediation
 files for Debian Jessie. Remediation files are Shell-based, Ansible-based
 and Puppet-based depending on the target infrastructure deployment policy

Package: ssg-ubuntu1604
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Ubuntu 16.04
 This package contains all the SCAP guides, benchmarks and remediation
 files for Ubuntu Xenial. Remediation files are Shell-based, Ansible-based
 and Puppet-based depending on the target infrastructure deployment policy

Package: ssg-firefox
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Firefox Browser
 This package contains all the SCAP guides, benchmarks and remediation
 files for Firefox web browser. Remediation files are Shell-based, Ansible-
 based and Puppet-based depending on the target infrastructure deployment
 policy

Package: ssg-webmin
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Webmin
 This package contains all the SCAP guides, benchmarks and remediation
 files for Webmin administration utility. Remediation files are Shell-based,
 Ansible-based and Puppet-based depending on the target infrastructure
 deployment policy

Package: ssg-jre
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Java Runtime Environment
 This package contains all the SCAP guides, benchmarks and remediation
 files for Java Runtime Environment. Remediation files are Shell-based,
 Ansible-based and Puppet-based depending on the target infrastructure
 deployment policy

Package: ssg-rhel5
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Red-Hat Enterprise Linux 5
 This package contains all the SCAP guides, benchmarks and remediation
 files for RHEL 5 and CentOS 5. Remediation files are Shell-based,
 Ansible-based and Puppet-based depending on the target infrastructure
 deployment policy


Package: ssg-rhel6
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Red-Hat Enterprise Linux 6
 This package contains all the SCAP guides, benchmarks and remediation
 files for RHEL 6 and CentOS 6. Remediation files are Shell-based,
 Ansible-based and Puppet-based depending on the target infrastructure
 deployment policy

Package: ssg-rhel7
Architecture: all
Depends: ${misc:Depends}, ssg-base
Description: SCAP Guides and benchmarks targeting Red-Hat Enterprise Linux 7
 This package contains all the SCAP guides, benchmarks and remediation
 files for RHEL 7 and CentOS 7. Remediation files are Shell-based,
 Ansible-based and Puppet-based depending on the target infrastructure
 deployment policy
