#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ 

# get back current tag release notes from GitHub
dump_release:
		debian/lib/release.py > debian/ReleaseNotes.md

override_dh_auto_build:
	        dh_auto_build -- all
		$(MAKE) version-update

