#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ 

# get back current tag release notes from GitHub
mkrelease:
		quilt push changelog.patch
		debian/lib/release.py
		dos2unix changelog
		quilt refresh
		quilt pop -a


override_dh_auto_build:
	        dh_auto_build -- all
		$(MAKE) version-update

