#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1


%:
	dh $@ 

# get back current tag release notes from GitHub
mkrelease:
	quilt push changelog.patch
	debian/lib/release.py
	dos2unix changelog
	quilt refresh
	quilt pop -a
	@echo
	@echo This target is made to fail intentionally, to make sure
	@echo that it is NEVER run during the automated build. Please
	@echo ignore the following error, the changelog file has been
	@echo generated SUCCESSFULLY.
	@echo
	exit 1



override_dh_auto_build:
	dh_auto_build
	$(MAKE) version-update

override_dh_auto_clean:
	dh_auto_clean
	find . -type d -name output | xargs rm -rf
	find . -type d -name build  | xargs rm -rf
	find . -type d -name dist   | xargs rm -rf
